############################################################
# Repository Owner: @riskalyze/solo
############################################################

*                       @riskalyze/solo
.github/CODEOWNERS      @riskalyze/codeowners

